footer
    .footer__contenedor.container
        .footer__contenedor--informacion
            a(href="#inicio" class="logotipo")
                img(src="public/img/logotipo.svg", alt="Logotipo")
            ul.informacion__lista
                li.informacion__lista--item: a(href="#slides") Inicio
                li.informacion__lista--item: a(href="#nosotros") Nosotros
                li.informacion__lista--item: a(href="#galeria") Galería
                li.informacion__lista--item: a(href="#contacto") Contacto
                li.informacion__lista--item: a(href="https://www.facebook.com/chiwake.pe/" target="_blank" rel="nofollow noopener").socicon-facebook
        .footer__contenedor--informacion
            p.informacion__copy.description Copyright © Todos los Derechos Reservados
            p.informacion__desarrollo.description Desarrollado por:
                a(href="https://chilcanoweb.com/" target="_blank" rel="nofollow noopener") Chilcanoweb
