header
    .header__contenedor.container
        h1.header__contenedor--logotipo
            a(href="index.html") Logo
        .header__contenedor--icono#icon
            .icon-element
            .icon-element
            .icon-element
        nav#nav
            ul.nav__lista
                li.nav__lista--item: a(href="#inicio" class="item__link") Inicio
                li.nav__lista--item: a(href="#about" class="item__link") Nosotros
                li.nav__lista--item: a(href="#galeria" class="item__link") Galería
                li.nav__lista--item: a(href="#contacto" class="item__link") Contacto