:root
{

  // C O L O R S
  --first-color     : #5ddc48;
  --second-color : #4cb53b;
  // T E X T
  --text-dark       : #4d4d4d;
  --text-light      : #fff;
  // B A C K G R O U N D
  --bg-firt         : #5ddc48;
  --bg-second    : #4cb53b;
  --bg-dark         : #4d4d4d;
  --bg-light        : #fff;
  // P A D D I N G
  --paddingY        : 3rem;
  --paddingX        : 3rem;
  // M A R G I N 
  --margin: auto
}

// C O L O R S
$first-color     : #5ddc48;
$second-color : #4cb53b;
// T E X T
$text-dark       : #4d4d4d;
$text-light    : #fff;
// B A C K G R O U N D
$bg-first: #5ddc48;
$bg-second: #4cb53b;
$bg-dark: #4d4d4d;
$bg-light: #fff;
// F O N T - F A M I L Y
$fuente-principal : 'Raleway', sans-serif;
$fuente-secundaria:'Roboto', sans-serif;

// ----------
